mindspore_ac/mindspore_ac/data
mindspore_ac/mindspore_ac/kernel_meta
mindspore_ac/mindspore_ac/lib
mindspore_ac/mindspore_ac/log
mindspore_ac/mindspore_ac/ckpt_old
mindspore_ac/mindspore_ac/ckpt

mindspore_dqn/mindspore_dqn/ckpt
mindspore_dqn/mindspore_dqn/data
mindspore_dqn/mindspore_dqn/kernel_meta
mindspore_dqn/mindspore_dqn/lib
mindspore_dqn/mindspore_dqn/log

mindspore_td3/ckpt
mindspore_td3/data
mindspore_td3/kernel_meta
mindspore_td3/lib
mindspore_td3/log

mindspore_d3dqn/ckpt
mindspore_d3dqn/log
mindspore_d3dqn/data
mindspore_d3dqn/kernel_meta
mindspore_d3dqn/lib

fighting_game_docker_images.tar

mindspore_ppo/ckpt
mindspore_ppo/log
mindspore_ppo/data
mindspore_ppo/kernel_meta
mindspore_ppo/lib

mindspore_ddpg/ckpt
mindspore_ddpg/log
mindspore_ddpg/data
mindspore_ddpg/kernel_meta
mindspore_ddpg/lib


mindspore_ddpg2/ckpt
mindspore_ddpg2/log
mindspore_ddpg2/data
mindspore_ddpg2/kernel_meta
mindspore_ddpg2/lib

mindspore_d2dqn/ckpt
mindspore_d2dqn/log
mindspore_d2dqn/data
mindspore_d2dqn/kernel_meta
mindspore_d2dqn/lib


mindspore_sac/ckpt
mindspore_sac/log
mindspore_sac/data
mindspore_sac/kernel_meta
mindspore_sac/lib

*.jar
*.key
*.dat
*.DS_Store
__pycache__